/*
-------------------------------------------------------
HEADER
-------------------------------------------------------
*/

body{
    height: 2000px;
}

.header{
    background-color: black;
}

header img{
    width: 60px;
}



/*
-------------------------------------------------------
NAV
-------------------------------------------------------
*/

#nav-fixed-top{
    top: 25px;
    background-color: white;
}

.navbar-toggler{
    border: 1px solid black;
}


/*
-------------------------------------------------------
MAIN
-------------------------------------------------------
*/

.jumbotron{
    margin-top: 100px;
    height: 600px;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
    background-size: cover;
}