/*
-------------------------------------------------------
HEADER
-------------------------------------------------------
*/

body{
    height: 2000px;
}

header{
    background-color: black;
}

header img{
    width: 60px;
}



/*
-------------------------------------------------------
NAV
-------------------------------------------------------
*/

#nav-fixed-top{
    top: 25px;
    background-color: white;
}

.navbar-toggler{
    border: 1px solid black;
}


/*
-------------------------------------------------------
MAIN
-------------------------------------------------------
*/

/* Main: Jumbotron */

.jumbotron{
    margin-top: 100px;
    height: 550px;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
    background-size: cover;
    align-items: flex-end;
}

.jumbotron img {
    width: 250px;
}

.jumbotron .btn{
    background-color: #cd3d0f;
    text-decoration: none;
    border-radius: 2rem;
}

.jumbotron .btn:active{
    filter: brightness(70%);
}

/* Main: Jumbotron-slides */