/*
-------------------------------------------------------
HEADER
-------------------------------------------------------
*/




body{
    height: 2000px; /* DEBUG!!!!!!!!!!!!!!!!!!!!! */
}

header{
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
}

header img{
    width: 60px;
}


/*
-------------------------------------------------------
NAV
-------------------------------------------------------
*/


nav{
    border: 1px solid black;
    width: 100%;
}

.navbar-collapse {
    flex-grow: 0;
}

#nav-fixed-top{
    position: fixed;
    top: 25px;
}
